<%= simple_form_for @brand do |f| %>
  <div class="form-inputs">
    <%= f.input :brand_name, placeholder: 'EzTenda Gin' %>
    <%= f.input :address, placeholder: '123, Street Road, London EZ7 3ND' %>
    <%= f.input :phone_number, placeholder: '01234567890' %>
    <%= f.input :description, as: :text, placeholder: 'Please write a short description about your brand' %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, { class: "btn btn-primary", value: "Create Brand" } %>
  </div>
<% end %>